@{
    ViewData["Title"] = "Home Page";
}

@section css{ 
	<link rel="stylesheet" href="~/css/play1.css">
}
<div class="content">

	<div class="currentPlayer">
		<span>Сейчас ходит: <span id="curPlyr">X</span></span>
	</div>

	<div id="area"></div>

	<div class="stat">
		<table>
			<th colspan="2">Статистика</th>
			<tr>
				<td>X</td>
				<td><span id="sX">0</span></td>
			</tr>
			<tr>
				<td>O</td>
				<td><span id="sO">0</span></td>
			</tr>
			<tr>
				<td>Ничьи</td>
				<td><span id="sD">0</span></td>
			</tr>
		</table>
	</div>
</div>

@section js{ 
	<script src="~/js/play1.js" asp-append-version="true"></script>
}
